  /**********/
 /* Header */
/**********/
header {
    color: #999999;
    margin: 20px 0;
    position: relative;
}

.header-enquiries a {
    color: #999999;
}

.header-logo img {
    height: 30px;
}

.header-menu {
    text-align: right;
    font-size: 22px;
}

.header-menu a {
    color: #FFFFFF;
}

.header-menu a:hover {
    color: #999999;
}

.header-menu a:active, .header-menu a:focus {
    color: #333333;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    header {
        margin: 25px 0;
    }

    .header-logo img {
        height: 50px;
    }

    .hamburger-bar {
        width: 40px;
        height: 5px;
        margin: 8px 0;
    
    }

    .hamburger-bar-3 {
        margin-bottom: 0;
    }
    
    .close .hamburger-bar-1 {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        transform: rotate(-45deg) translate(-5px,6px);
    }
    
    .close .hamburger-bar-3 {
        -webkit-transform: rotate(45deg) translate(0,0);
        transform:  translate(1px,-17px) rotate(45deg);
    }

}


   /*******************/
  /* Main Navigation */
 /*******************/
.nav-main  {
    background-color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transition:0.3s ease-out;
    transform:scaleY(1);
    transform-origin:top;
    display: block;
}

.nav-main.hidden {
    transform:scaleY(0);
}

.nav-main a {
    color: #222222
}

.nav-main ul {
    padding: 10px;
    margin: 0;
    list-style: none;
}

.nav-main li {
    padding: 10px 0;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .nav-main {
        font-size: 24px;
        text-align: left;
    }

    .nav-main li {
        padding: 0 20px;
        display: inline-block;
    }

    .nav-main li:nth-child(1) {
        padding-left: 0!important;
    }
    
    .nav-main li:nth-child(4) {
        padding-right: 0!important;
    }

    .nav-main ul {
        padding: 20px 0;
    }
}


  /******************/
 /* Hamburger Menu */
/******************/
.hamburger-container {
    display: inline-block;
    cursor: pointer;
}

.hamburger-bar {
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 5px 0;
    transition: 0.15s;
}

.hamburger-bar-3 {
    margin-bottom: 0px;
}

.hamburger-container:hover .hamburger-bar {
    background-color: #999999;
}

.hamburger-container:active .hamburger-bar, .hamburger-container:focus .hamburger-bar {
    background-color: #333333;
}

.hamburger-container.close {
    margin-bottom: 9px;
}

.close .hamburger-bar-1 {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    transform: rotate(-45deg) translate(-5px,6px);
}

.close .hamburger-bar-2 {opacity: 0;}

.close .hamburger-bar-3 {
    -webkit-transform: rotate(45deg) translate(0,0);
    transform:  translate(1px,-8px) rotate(45deg);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    .hamburger-bar {
        width: 40px;
        height: 5px;
        margin: 8px 0;
    
    }

    .hamburger-bar-3 {
        margin-bottom: 0;
    }
    
    .close .hamburger-bar-1 {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        transform: rotate(-45deg) translate(-5px,6px);
    }
    
    .close .hamburger-bar-3 {
        -webkit-transform: rotate(45deg) translate(0,0);
        transform:  translate(1px,-17px) rotate(45deg);
    }

}