.social-media-container {
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
}

.social-media-container h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.social-media-container hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.social-media-email {
    font-size: 24px;
}

.social-media-email a {
    text-decoration: none;
}

.social-media-email i {
    padding-right: 10px;
}

.social-media-icons a {
    font-size: 32px;
    padding-left: 20px;
    padding-right: 20px;
}

.social-media-row {
    padding-left: 45px;
    padding-right: 45px;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    .social-media-container h1 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .social-media-icons a {
        font-size: 24px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .social-media-email-text {
        display: none;
    }

    .social-media-row {
        padding-left: 15px;
        padding-right: 15px;
    }

}