/**********/
/* Header */
/**********/
.header {
    background: #222222;
}

.header-container {
    display: flex;
    color: #FFFFFF;
    font-size: 20px;
    justify-content: space-between;
}

/* Header Logo */
.header-logo-container a.logo {
    align-items: center;
    background-color: #FFFFFF;
    color: #222222;
    display: flex;
    font-weight: 500;
    font-size: 34px;
    height: 75px;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 75px;
}

.header-logo-container a.logo:hover {
    background-color: #DDB382;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .header-logo-container a.logo {
        font-size: 24px;
        height: 50px;
        width: 50px;
    }
}

/* Header Navigation */
.header-nav-main {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-nav-main li {
    display: inline-block;
    margin: 0 15px;
}

.header-nav-main li:last-child {
    margin-right: 0;
}

.header-nav-main li a {
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.header-nav-mobile-button {
    cursor: pointer;
    display: none;
    transition: color 0.3s;
}

.header-nav-mobile-button:hover {
    color: #DDB382;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    .header-nav-main {
        display: none;
    }

    .header-nav-mobile-button {
        display: inline-block;
    }

}

/**********************/
/* Mobile Navigation  */
/**********************/
.mobile-navigation {
    padding: 20px;
}

.mobile-navigation-container {
    background-color: #111111;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    transition: width 0.3s;
    width: 0;
    z-index: 1;
}

.mobile-navigation-container a {
    color: #222222;
    display: inline-block;
    font-size: 24px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s;
    width: 100%;
}

.mobile-navigation-container a:hover {
    color: #DDB382;    
}

.mobile-navigation-container .mobile-navigation-close-button {
    font-size: 20px;
    text-align: right;
}

.mobile-navigation-container .mobile-navigation-close-button a {
    display: inline;
}

.mobile-navigation-container-open {
    width: 100%;
}

.mobile-navigation-container-open a {
    color: #FFFFFF;
}

/* Extra Small devices (phones, less than 576px) */
@media (max-width: 575.98px) { 

    .mobile-navigation-container a {
        font-size: 16px;
    }

    .mobile-navigation-container .mobile-navigation-close-button a {
        font-size: 20px;
    }
    
}

/**********/
/* Footer */
/**********/
.footer {
    background: #222222;
    color: #999999;
    font-size: 14px;
}

.footer a {
    color: #999999;
    transition: color 0.3s;
    text-decoration: none;
}

.footer a:hover {
    color: #DDB382;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container .footer-copy {
    width: 120px;
    margin: 0 auto;
    text-align: center;
}

.footer-container .footer-nav {
    flex: 1;
    text-transform: uppercase;
}

.footer-container .footer-nav a{
    padding-right: 10px;
}

.footer-container .footer-nav a:last-child{
    padding-right: 0;
}

.footer-container .footer-social-media {
    flex: 1;
    text-align: right;
}

.footer-container .footer-social-media a {
    padding-left: 10px;
    font-size: 18px;
}

.footer-container .footer-social-media a:first-child {
    padding-left: 0;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    .footer-container {
        display: block;
    }

    .footer-container .footer-copy {
        margin-bottom: 15px;
        text-align: center;
        width: 100%;
    }
    
    .footer-container .footer-nav {
        text-align:center;
        margin-bottom: 15px;
    }
    
    .footer-container .footer-social-media {
        text-align: center;
    }

    .footer-container .footer-social-media a {
        padding-left: 30px;
    }
    
}

/**************/
/* About Page */
/**************/
.about-container {
    margin-bottom: 20px;
    background: #FFFFFF;
    color: #333333;
}

.about-container:last-child {
    margin-bottom: 0;
}

.about-container .about-content {
    padding: 20px;
    padding-bottom: 40px;
}

.about-container .about-heading {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.about-container .about-heading:first-of-type {
    margin-top: 0;
}

.about-container .about-list-grid {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap;
}

.about-container .about-list-grid .about-list-col {
    flex: 1;
    min-width: 26%; /* Ensures 3 cols max */
}

.about-container .about-list-grid .about-list-col-2 {
    flex: 2;
}

.about-container .about-list-hr {
    border-color: #F5E8D9;
    border-width: 1px;
    margin-top: 40px;
}

.about-container .about-list-inner {
    padding-left: 30px;
}

.about-container .about-list-inner > li {
    margin-top: 5px;
}

.about-container .about-list-inner strong {
    color: #666666;
    /* font-weight: normal; */
}

.about-container .about-list-outer {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.about-container .about-list-outer > li, .about-container .about-list-col>li {
    list-style: none;
    margin-top: 20px;
    font-weight: bold;
}

.about-container .about-title {
    background: #333333;
    color: #FFFFFF;
    font-size: 22px;
    padding: 20px;
    text-transform: uppercase;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .about-container .about-list-grid {
        display: block;
    }


    .about-container .about-heading {
        font-size: 16px;
    }

    .about-container .about-list-outer {
        font-size: 14px;
    }

    .about-container .about-title {
        font-size: 20px;
    }
}

/******************/
/* Portfolio Page */
/******************/
.portfolio-container {
    margin-bottom: 20px;
    background: #FFFFFF;
    color: #333333;
}

.portfolio-container:last-child {
    margin-bottom: 0;
}

.portfolio-container .portfolio-button a {
    display: block;
    font-weight: 500;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.portfolio-container .portfolio-button-repo a {
    background-color: #444444;
    color: #FFFFFF;
}

.portfolio-container .portfolio-button-repo a:hover {
    background-color: #555555;
}

.portfolio-container .portfolio-button-repo a:active {
    background-color: #333333;
}

.portfolio-container .portfolio-button-site a {
    background-color: #DDB382;
    color: #FFFFFF;
}

.portfolio-container .portfolio-button-site a:hover {
    background-color: #E0BB8F;
}

.portfolio-container .portfolio-button-site a:active {
    background-color: #C7A175;
}


.portfolio-container .portfolio-content {
    padding: 20px;
    padding-bottom: 20px;
}

.portfolio-container .portfolio-grid {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap;
}

.portfolio-container .portfolio-grid .portfolio-col-left {
    width: 30%;
}

.portfolio-container .portfolio-grid .portfolio-col-right {
    flex: 1;
    padding-left: 20px;
}


.portfolio-container .portfolio-heading {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.portfolio-container .portfolio-heading:first-of-type {
    margin-top: 0;
}

.portfolio-container .portfolio-project-image {
    margin: auto;
    margin-bottom: -4px; /* Removes weird issue where container is 4px taller than image */
    max-width: 500px;
}

.portfolio-container .portfolio-project-image img {
    width: 100%;

}

.portfolio-container .portfolio-project-image .preview-title-bar {
    background-color: #222222;
    height: 10px;
    padding: 4px 14px;
    padding-bottom: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.portfolio-container .portfolio-project-image .preview-title-bar-btn {
    height: 8px;
    width: 8px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 2px;
}

.portfolio-container .portfolio-project-image .preview-title-bar-btn:nth-child(1) {
    background-color: #AAA;
}

.portfolio-container .portfolio-project-image .preview-title-bar-btn:nth-child(2) {
    background-color: #888;
}

.portfolio-container .portfolio-project-image .preview-title-bar-btn:nth-child(3) {
    background-color: #666;
}

.portfolio-container .portfolio-text-block {
    margin-bottom: 20px;
}

.portfolio-container .portfolio-text-block p {
    margin-top: 10px;
}

.portfolio-container .portfolio-text-block ul {
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
}


.portfolio-container .portfolio-title {
    background: #333333;
    color: #FFFFFF;
    font-size: 22px;
    padding: 20px;
    text-transform: uppercase;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .portfolio-container .portfolio-heading {
        font-size: 16px;
    }

    .portfolio-container .portfolio-title {
        font-size: 20px;
    }

    .portfolio-container .portfolio-grid {
        display: block;
    }

    .portfolio-container .portfolio-grid .portfolio-col-left {
        width: 100%;
        margin-bottom: 20px;
    }

    .portfolio-container .portfolio-grid .portfolio-col-right {
        padding-left: 0;
    }

    .portfolio-container .portfolio-grid .portfolio-button-container {
        display: flex;
    }

    .portfolio-container .portfolio-grid .portfolio-button {
        flex: 1;
    }

    .portfolio-container .portfolio-grid .portfolio-button a {
        font-size: 14px;
        padding: 10px;
    }

    .portfolio-container .portfolio-grid .portfolio-button-repo {
        margin-right: 5px;
    }

    .portfolio-container .portfolio-grid .portfolio-button-site {
        margin-left: 5px;
    }
}

/* Extra Small devices (phones, less than 576px) */
@media (max-width: 575.98px) { 
    .portfolio-container .portfolio-grid .portfolio-button-container {
        display: block;
    }

    .portfolio-container .portfolio-grid .portfolio-button-repo {
        margin: 0;
    }

    .portfolio-container .portfolio-grid .portfolio-button-site {
        margin: 0;
    }
}