* {
    box-sizing: border-box;
}

body {
    font-family: "Numans", "Roboto", sans-serif;
    color: #999; 
    background-color: #dbdbdb;
    margin: 0;
}

#site-container {
    width: 980px;
    margin: auto;
}

/* HEADER */

#header-left {
    background: #fff;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-left h1{
    margin: 0;
}

#header-left h2 {
    font-family: "Numans", "Roboto", sans-serif;
    color: #fd5a5d;
    margin: 0;
    margin-top: -5px;
    text-transform: uppercase;
    font-size: 12pt;
}

#header-left p{
    font-size: 14pt;
    margin: 40px 0;
}

#header-left .btn {
    background: #fd5a5d;
    border-radius: 25px;
}

#header-left .btn:hover {
    background: #e25259;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header-right {
    background: #242424;
    height: 490px;
    padding: 20px;
}

.nav-horizontal {
    margin: auto;
    text-align: center;
    display: block;
}

.nav-horizontal a:first-of-type {
    margin-left: 0;
}

.nav-horizontal a:last-of-type {
    margin-right: 0;
}

.nav-horizontal a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12pt;
}

.nav-horizontal a:hover {
    color: #fd5a5d;
}


/* MAIN CONTENT */
#main-content {
    background: #f7f8fa;
    padding: 30px;
}

#main-content .row {
 margin-top: 40px;   
}

#main-content h1 {
    margin: 0;
}

#main-content .col {
    padding: 0;
}


#main-content h2 {
    color: #000;
    font-size: 30pt;
    margin: 0;
}

.highlight {
    color: #fd5a5d;
    font-weight: 600;
}











footer {
    background-color: #fd5a5d;
    color: #242424;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
}

footer i {
    margin: 0 10px;
    margin-bottom: 20px;
    padding: 0 5px;
}

footer a {
    color: #242424;
}

footer a:hover {
    color: #fff;
}





h1 {
    font-family: "Bree Serif", serif;
    font-size: 42pt;
    font-weight: 100;
    color: #000;
}

h2 {
    font-family: "Bree Serif", serif;
    font-weight: 100;
    
}


.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 12px 50px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    text-transform: uppercase;
    font-size: 12pt
}




@media all and (min-width: 980px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    [class*="col-"] {
        float: left;
        padding: 15px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
}







@media all and (max-width: 979px) {
    #site-container {
        width: 100%;
    }
    
    #header-left {
        height: auto;
        margin: 0 auto;
        padding-bottom: 25px;
        text-align: center;
    }
    
    #header-left p {
        margin: 25px 0;
    }
    
    #header-right {
        height: auto;
        padding: 20px;
        padding-top: 0;
    }
    

    
    #header-right a {
        padding-top: 20px;
    }
    
    #main-content {
        padding: 0;
        text-align: center;
    }
    
    #main-content ul {
        text-align: left;
    }
    
    #introduction {
        padding: 0 10px;
    }
    
    #main-content .row {
        background: #fff;
        padding: 10px;
    }
    
    #index-project p {
        margin: 0;
        padding: 10px 0;
    }
    
    
    
    
    
}