
/** Featured Articles **/

.featured-articles-container {
    color: #FAFAFA;
}

.featured-articles-secondary-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.featured-article-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.featured-article {
    position: relative;
    width: 100%;
}

.featured-article p {
    margin: 0;
}

.featured-article-primary {
    background-color: #111111;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.featured-article-secondary {
    flex-grow: 1;
}

@media (max-width: 576px) { /** Up to and including Small */
    .featured-articles-secondary-container {
        display: block;
    }
}