/* Style the body and outer container */

body {
  margin: 0;
  color: #333;
  background-color: #ddd;
  font-family: "Numans", Arial, Helvetica, sans-serif;
  font-weight: 100;
}

#container {
  width: 960px;
  background: #fff;
  margin: 0 auto;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* The header */

header {
    background: #fd5a5d;
    margin: 0;
    height: 100px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #242424;
}

header h1 {
    color: #242424;
    display: inline-block;
    font-family: "Bree Serif", ariel;
    font-weight: 100;
    font-size: 55px;
    padding-left:  20px;
    margin: 0;
}

/* Article List */

.article_list {
    padding:10px 15px;
}

ul, .article_list h2 {
    margin: 0;
    padding: 0;
    list-style: none;
}

.article_list .pubDate {
    display: inline-block;
    min-width: 80px;
    font-size: 14px;
    color: #fd5a5d;
}

.article_list a {
    padding: 0;
    margin: 0;
    color: #242424;
    font-family: "Bree Serif", serif;
    font-weight: 100;
}

.summary {
  padding-left: 90px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(24, 24, 24, 0.1);
}

p.bottom {
    margin: 0;
    margin-top: 90px;
    padding: 10px 15px;
    background-color: #555;
}

.bottom a {
    color: #ccc;
}

/* Archive List */

.total {
    margin: 5px 0;
    font-size: 26px;
    font-family: "Bree Serif";
    text-transform: capitalize;
    color: #888;
}

.archive_list .pubDate{
    min-width: 100px;
}

.archive_list .summary {
    padding-left: 110px;
}

/* Footer */

footer {
    background-color: #242424;
    padding: 20px;
    text-align: center;
    color: #eee;
    font-size: 15px;
}

footer a.admin {
    font-size: 18px
    font-weight: 900;
    color: #fd5a5d;
}

footer a {
    color: #fd5a5d;
}

/* LOGIN FORM */
form.login {
    background-color: #404040;
    border-radius: 5px;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

form.login input {
    font-family: "Numans", "Roboto", sans-serif;
    font-size: 18px;
}

form.login input[type=text], form.login input[type=password] {
    padding: 5px;
    padding-left: 0;
    padding-bottom: 6px;
    margin: 20px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #999;
    color: #eee;
}

form.login input[type=submit] {
    padding: 10px 40px;
    background: #fd5a5d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #eee;
}

form.login input[type=submit]:hover {
    background: #fd686a;
}

form.login input[type=submit]:active {
    background: #fd4e51;
}

.login ::-webkit-input-placeholder { /* Chrome */
    color: #999;
}
.login :-ms-input-placeholder { /* IE 10+ */
    color: #999;
}
.login ::-moz-placeholder { /* Firefox 19+ */
    color: #999;
    opacity: 1;
}
.login :-moz-placeholder { /* Firefox 4 - 18 */
    color: #999;
    opacity: 1;
}




/*Admin Page */

#adminHeader {
    background-color: #444;
    font-family: "Numans", sans-serif;
    display: block;
    padding: 0 10px;
    border-bottom: 1px solid #fd5a5d;
    color: #ddd;
}

#adminHeader h2 {
    margin: 0;
    padding-top: 10px;
    color: #fff;
    font-size: 18px;
    text-decoration: underline;
}

#adminHeader .username {
    color: #fd5a5d;
}

#adminHeader a {
    color: #fff;
}

.admin .detail {
    color:#fd5a5d
}


/* Tables */

table {
  width: 100%;
  border-collapse: collapse;
}

tr, th, td {
  padding: 10px;
  margin: 0;
  text-align: left;
}

table, th {
  border: 1px solid #242424;
}

th {
  border-left: none;
  border-right: none;
  background: #fd5a5d;
  color: #fff;
  cursor: default;
}

tr:nth-child(odd) {
  background: #f2f2f2;
}

tr:nth-child(even) {
  background: #fff;
}

tr:hover {
  background: #ddd;
  cursor: pointer;
}

/* Add New Article Form */


/* Status and error boxes */

.statusMessage, .errorMessage {
  font-size: .8em;
  padding: .5em;
  margin: 2em 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);

}

.statusMessage {
  background-color: #2b2;
  border: 1px solid #080;
  color: #fff;
}

.errorMessage {
  background-color: #f22;
  border: 1px solid #800;
  color: #fff;
}
